
.produto-item:first-child .btn-excluir-entrada {
    display: none;
}

.produto-item h3 {
    width: 100%;
}

.produto-item h3 a{
    float: right;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;

}