main {
    background-color: var(--ui-grey-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    border-radius: 8px;
    width: 100%;
    max-width: 380px;
    padding: 32px;
    background-color: var(--ui-white);
    border: 1px solid #DFE0EB;
    text-align: center;
}
h1 {
    width: auto;
    color: var(--ui-grey-1);
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
    font-weight: 800;
}
h2 {
    width: auto;
    color: var(--ui-grey-1);
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 700;
}
h3 {
    width: auto;
    color: var(--ui-grey-4);
    font-size: 14px;
    margin-bottom: 48px;
    font-weight: 400;
}
span {
    color: var(--ui-grey-4);
    font-size: 14px;
    text-align: center;
}