@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Mulish', sans-serif;

    /* VARIABLES */
    --primary-blue-1: #3751FF;
    --primary-blue-2: #2437BB;
    --primary-blue-3: #667AFF;

    --ui-grey-1: #080C28;
    --ui-grey-2: #303841;
    --ui-grey-3: #383A4B;
    --ui-grey-4: #7F8397;
    --ui-grey-5: #C7C7D9;
    --ui-grey-6: #DCDCEF;
    --ui-grey-7: #F7F8FC;

    --ui-white: #FFFFFF;


    --bp-lg: 1024px;
    --bp-md: 768px;
    --bp-sm: 320px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

main {
    background-color: var(--ui-grey-7);
    width: 100%;
    height: 100vh;
    padding: 30px;
    overflow-y: auto;
}
.no-padding {
    padding: 0 !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}



table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: auto;
}
thead {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--ui-grey-5);
}
td, th {
    padding: 8px;
    text-align: center;
    color: var(--ui-grey-3);
    font-weight: 600;
}



.text-input {
    width: 100%;
}
.text-input > label {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: 700;
    font-size: 12px;
    color: var(--ui-grey-4);
}
.text-input > label > input {
    margin-top: 6px;
    height: 42px;
    border-radius: 8px;
    border: none;
    border: 1px solid var(--ui-grey-5);
    outline: none;
    padding: 0 16px;
    font-size: 14px;
    color: var(--ui-grey-3);
    z-index: 2;
}
.text-input > label > textarea {
    margin-top: 6px;
    height: 100px;
    border-radius: 8px;
    border: none;
    border: 1px solid var(--ui-grey-5);
    outline: none;
    padding: 16px;
    font-size: 14px;
    color: var(--ui-grey-3);
    resize: none;
    z-index: 2;
}
.text-input .input-items-list label {
    display: flex;
    align-items: center;
}
.text-input .input-items-list label input {
    margin-right: 20px;
}

.text-input .input-items-list {
    width: 100%;
    height: 42px;
    background-color: var(--ui-grey-6);
    position: relative;
    top: -42px;
    z-index: 1;
    border-radius: 8px;
    transition: 0.5s;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.text-input .input-items-list > * {
    margin: 5px 0;
}
.text-input:hover .input-items-list {
    height: calc(100px + 42px);
    padding: 16px;
    padding-top: calc(42px + 16px);
}



input[type=checkbox] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: var(--primary-blue-1);
    box-shadow:  0px 4px 12px rgba(55, 81, 255, 0.24);
    border: none;
    color: var(--ui-white);
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.danger {
    background-color: rgb(227 71 71);
    box-shadow:  0px 4px 12px rgba(227 71 71, 0.24)
}
button.secondary {
    background-color: white;
    box-shadow:  0px 4px 12px rgba(227 71 71, 0.24);
   border: 1px solid var(--primary-blue-1);
   color: var(--primary-blue-1);
}
button.danger:hover {
    background-color: rgb(185, 79, 79);
}
button:hover {
    background-color: var(--primary-blue-2);
    color: white;
}

.card {
    border: 1px solid #DFE0EB;
    padding: 32px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--ui-white);
}

.card h2 {
    color: var(--ui-grey-3);
        
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 24px;
}

.card h3 {
    color: #595F82;
        
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 16px;
}

.w-25 {
    max-width: calc(25% - 15px);
}
.w-33 {
    max-width: calc(33% - 15px);
}
.w-50 {
    max-width: calc(50% - 15px);
}

@media (max-width: 1024px) {
    .w-25 {
        max-width: calc(50% - 15px);
        margin-top: 20px;
    }
    .w-33 {
        max-width: calc(50% - 15px);
        margin-top: 20px;
    }
    .w-50 {
        max-width: 100%;
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .w-25 {
        max-width: 100%;
    }
    .w-33 {
        max-width: 100%;
    }
}

